body::before {
    display: block;
    content: '';
    height: 80px;
}

body { padding-top: 30px; }


.navbar-custom {
    background-color: #a00a30;
}

.navbar-nav li a {
    color: white;
}

.card {
    margin-top: 0px;
    border-color: white
}

.card-img-top {
    margin-top: 10px;
    width: 100%;
    height: 15vw;
    object-fit: cover;
}




* {
    box-sizing: border-box;
  }
  

  /* Header/Blog Title */
  .header {
    padding: 30px;
    font-size: 40px;
    text-align: center;
    background: white;
  }
  
  /* Create two unequal columns that floats next to each other */
  /* Left column */
  .leftcolumn {
    float: left;
    width: 75%;
  }
  
  /* Right column */
  .rightcolumn {
    float: left;
    width: 25%;
    padding-left: 20px;
  }
  
  /* Fake image */
  .fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
  }
  
  /* Add a card effect for articles */
  .card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Footer */
  .footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
  }
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {
      width: 100%;
      padding: 0;
    }
  }


  .contacts_icon {
    border-radius: 50%;
    color: #fff;
    width: 45px;
    height: 45px;
    margin-bottom: 10px;
   }
   
   .btn-danger {
    background-color: #a00a30 !important;
}




.map-responsive{
  overflow:hidden;
  padding-bottom:50%;
  position:relative;
  height:0;
}
.map-responsive iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}

.card-img-top {
  width: 100%;
  height: 25vw;
  object-fit: cover;
}

.card-img-top-bestuur {
  width: 100%;
  height: 30vw;
  object-fit: cover;
}

.grote-afbeelding {
  width: 40vw;  /* 40% van de breedte van het scherm */
  height: auto; /* 40% van de hoogte van het scherm */
  object-fit: cover; /* Zorgt ervoor dat de afbeelding het volledige frame vult zonder vervorming */
  display: block; /* Voor centreren */
  margin-left: auto; /* Voor centreren */
  margin-right: auto; /* Voor centreren */
  cursor: pointer; /* Verandert de cursor naar een handje, zodat duidelijk is dat het klikbaar is */
}
